services:
  mongo:
    image: mongo:8.0.4
    container_name: discord_rag_mongo
    ports:
      - "27017:27017"
    volumes: 
      - mongo_data:/data/db
    networks:
      - discord_rag_network

  chroma:
    image: chromadb/chroma:1.4.1
    container_name: discord_rag_chroma
    ports:
      - "8001:8000"
    volumes:
      - chroma_db_data:/data
    networks:
      - discord_rag_network

  api:
    build:
      context: .
      dockerfile: production/api/Dockerfile
    env_file:
      - production/api/.env
    container_name: discord_rag_api
    ports:
      - "8000:8000"
    networks:
      - discord_rag_network
    depends_on:
      - chroma

  bot:
    build:
      context: ./production/bot/
      dockerfile: ./Dockerfile
    env_file:
      - ./production/bot/src/.env
    container_name: discord_rag_bot
    networks:
      - discord_rag_network
    depends_on:
      - api

  initial_ingestion:
    build:
      context: .
      dockerfile: ./production/initial_ingestion/Dockerfile
    env_file:
      - ./production/initial_ingestion/src/.env
    container_name: discord_rag_initial_ingestion
    networks:
      - discord_rag_network

  indexing_pipeline:
    build:
      context: .
      dockerfile: ./production/indexing_pipeline/Dockerfile
    env_file:
      - ./production/indexing_pipeline/.env
    container_name: discord_rag_indexing_pipeline
    networks:
      - discord_rag_network
  
  vllm:
    image: vllm/vllm-openai:latest-cu130
    container_name: discord_rag_vllm
    env_file:
      - ./production/vllm/.env
    ports:
      - "8080:8000"
    networks:
      - discord_rag_network
    volumes:
      - vllm_cache:/root/.cache/huggingface
    gpus: all
    command: --model Qwen/Qwen3-0.6B --gpu-memory-utilization 0.8 --quantization bitsandbytes

volumes:
  mongo_data:
    name: discord_rag_mongo_data
  chroma_db_data:
    name: discord_rag_chroma_db_data
  vllm_cache:
    name: discord_rag_vllm_cache

networks:
  discord_rag_network:
    name: discord_rag_network
    driver: bridge
